package {{invokerPackage}};

{{>generatedAnnotation}}
public class KogitoApiClient extends ApiClient {

@Override
public void setUsername(String username) {
if (username != null && !username.isEmpty()) {
super.setUsername(username);
}
}

@Override
public void setPassword(String password) {
if (password != null && !password.isEmpty()) {
super.setPassword(password);
}
}

@Override
public void setApiKey(String apiKey) {
if (apiKey != null && !apiKey.isEmpty()) {
super.setApiKey(apiKey);
}
}

@Override
public void setApiKeyPrefix(String apiKeyPrefix) {
if (apiKeyPrefix != null && !apiKeyPrefix.isEmpty()) {
super.setApiKeyPrefix(apiKeyPrefix);
}
}

public void setPath(String path) {
if (path != null && !path.isEmpty()) {
super.setBasePath(path);
}
}

}