# This workflow will build a Java project with Maven
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: Jenkins Tests

on:
  pull_request:
    paths: 
    - '.ci/jenkins/**'
    - '.github/workflows/jenkins-tests-PR.yml'

jobs:
  jenkinsfile-tests:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout 
      uses: actions/checkout@v2
      with:
        path: main

    - name: Checkout shared libraries
      uses: actions/checkout@v2
      with:
        repository: kiegroup/jenkins-pipeline-shared-libraries
        path: shared-libs

    - name: Set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8

    - name: Setup pipeline env
      run: cd $GITHUB_WORKSPACE/main/.ci/jenkins/tests && ./setup_pipeline_env.sh
      
    - name: Test pipelines
      run: cd $GITHUB_WORKSPACE/main/.ci/jenkins/tests && mvn -B clean test

  dsl-tests:
    runs-on: ubuntu-latest
    steps:
    - name: DSL tests
      uses: kiegroup/kogito-pipelines/.ci/actions/dsl-tests@main
      with:
        main-config-file-repo: kiegroup/kogito-pipelines
        main-config-file-ref: main
        main-config-file-path: dsl/config/main.yaml